//Gameover Section

.gameOver {
    width: 100vw;
    height: 88vh;
    min-width: 440px;
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
    background-color: $accentColorA;
}

.gameOver .wrapper {
    height: 100%;
    width: 90%;
    background-color: $accentColorG;
}

.gameOver h2{
    font-size: 2.5rem;
    height: 29vh;
    color: $accentColorE;
    background-color: $accentColorH;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.gameOver h3 {
    font-size: 1.8rem;
    height: 15vh;
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29vh;
    background-color: $accentColorG;
        button {
            font-family: $baseFont;
            background-color: $accentColorH;
            padding: .5rem;
            margin: 0 .5rem;
            border-radius: .5rem;
            letter-spacing: .1rem;
            cursor: pointer;
        }
}
