//Gameover Section

.gameOver {
    width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
}

.gameOver .wrapper {
    height: 100%;
    width: 90%;
    background-color: yellow;
}

.gameOver h2{
    font-size: 2.5rem;
    background-color: pink;
    padding: 1.5rem 0 1.5rem 0;
}

.gameOver h3 {
    font-size: 1.8rem;
    color: blue;
    background-color: red;
    padding: 1.5rem 0;
}

.buttons {
    background-color: purple;
    padding: 3rem 0 2rem 0;
}
