//Header Footer and General Styles

* { 
    margin: 0; 
    padding: 0;
}

html {
    font-size: 20px;
    font-family: $baseFont;
    letter-spacing: .15rem;
    background-color: $accentColorA;
}

.wrapper {
    max-width: 1020px;
}

header, footer {
    display: flex;
    justify-content: center;
    text-align: center;
    // vertical-align: middle;
    align-items: center;
    height: 5.5vh;
    font-size: .8rem;
}

// header {
//     height: 5.5vh;
//     font-size: .8rem;

// }

// footer {
//     height: 5.5vh;
//     background-color: $accentColorA;
//     font-size: .8rem;
// }

// footer .wrapper {
//     background-color: $accentColorA;
// }


// header h1 {
//     margin: 0;
//     background-color: $accentColorA;
//     color: $primaryColor;
//     text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
//     height: 100%;
// }

header .wrapper,
footer .wrapper {
    width: 90%
}

header p,
footer p {
    margin: 0;
        a {
            font-family: sans-serif, regular;
            font-size: 1.2rem;
            letter-spacing: 0rem;
            text-decoration: none;
        }
        a:focus,
        a:hover {
            font-size: 1.4rem;
            color: $accentColorE;
        }
}

main {
    background-color: white;
}

