// note: anytime you see a random border commented out, it's just me using a border for visual assistance regarding the element size etc. - Beth

// thinking we should put this img styling on the main styles page - Beth
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.titles {
    text-align: center;
}

.loadingHeadings h2 {
    text-align: center;
}

.characterGallery {
    border: 15px solid lightpink;
    border-radius: 10px;
    background-color: white;
    margin: 0 80px;
}

.characterFlex {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 0;
    padding: 50px 0;
        li {
            list-style-type: none;
            margin: 0 auto;
        }
}

.characterButton {
    border: none;
    background-color: white;
    padding: 0;
}

.characterButton:hover {
    transform: scale(1.1);
}
