//Landing Section

.loading {
    background-image: url(../assets/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.loadingHeadings h2 {
    color: $primaryColor;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    padding: 1rem 0;
}

.characterGallery {
    border: .5rem solid $accentColorC;
    border-radius: 1rem;
    background-color: white;
    width: 100%;
}

.characterFlex {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 2.5rem 1rem;
        li {
            list-style-type: none;
            padding: 0 2%;
        }
        img {
            width: 100%
        }
}

.characterButton {
    border: none;
    background-color: white;
    padding: 0;
}

.characterButton:hover {
    transform: scale(1.1);
}
