//Main GameBoard

.mainBoard {
    width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $accentColorA;
}

.mainBoard .wrapper {
    width: 90%;
    background-color: $accentColorD;
    // height: 100%;

    border: 3px solid $primaryColor;
}

.mainBoard h1 {
    height: 8vh;
    // height: 10%;
    margin: 0;
    padding-top: .5rem;
    font-size: 1.25rem;
}

//Top

.topContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 11.5vh;
    // height: 11.5%;
    background-color: pink;
}

.characterProfile {
    width: 30%;
    font-size: 0.75rem;
}

.soberContainer {
    width: 53%;
    height: 100%;
    padding-top: .5rem;
    // background-color: gray;
} 

.scoreContainer {
    width: 17%;
    // background-color: thistle;
        p {
            font-size: .75rem;
        }
}

.scoreContainer p:nth-child(2) {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

//Bottom 

.botContainer {
    height: 67.5vh;
    
    // width: 100%;
    background-color: turquoise;
    display: flex;
    flex-direction: row;
}

.characterCredentials {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.characterPic {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 50%
    height: 50%;
    background-color: $secondaryColor;

}

.characterPic img {
    width: 50%;
    max-height: 100%;
}

.characterQuote {
    height: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $primaryColor;
    font-size: 0.6rem;
    overflow: hidden;
}

//GameBoard and Stylings Inside and Dynamic Changes by Game

.gameGrid {
    // width: calc((75vw * .9));
    // border: 0.1rem solid black;
    width: 70%;
    height: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    // margin: 0 auto;
}

.place {
    // width: calc(((74.99vw * .9) - 0.15rem)/ 10);
    height: calc(67.5vh/ 10);
    width: calc(100%/10);
    // height: calc(100%/10);
    border: 1px solid blue;
}

.beer {
    background-color: pink;
    position: relative;
}

.beer::before {
    content: "🍺";
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8.5%;
    left: 5%;
}

.wine {
    background-color: blue;
    position: relative;
}

.wine::before {
    content: "🍷";
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8.5%;
    left: 5%;
}

.liquor {
    background-color: yellowgreen;
    position: relative;
}

.liquor::before {
    content: "🥃";
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8.5%;
    left: 5%;
}


.bw {
    background-color: violet;
    position: relative;
}

.bw::before {
    content: "🍺🍷";
    font-size: 1.25rem;
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8.5%;
    left: 5%;
}

.bl {
    background-color: orange;
    position: relative;
}

.bl::before {
    content: "🍺🥃";
    font-size: 1.25rem;
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8.5%;
    left: 5%;
}

.wl {
    background-color: plum;
    position: relative;
}

.wl::before {
    content: "🍷🥃";
    font-size: 1.25rem;
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8.5%;
    left: 5%;
}

.bwl {
    background-color: violet;
    position: relative;
}

.bwl::before {
    content: "🎉";
    font-size: 2.5rem;
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8.5%;
    left: 5%;
}

.soberBar {
    width: 100%;
    background-color: grey;
    border: 0.15rem solid black;
}

.soberLevel {
    width: 25%;
    height: 1.5rem;
    background-color: red;
}