@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .loadingHeadings h2 {
        padding-top: 3rem;
    }
}

@media (max-width: 610px) {
    html {
        font-size: 14px;
    }
    .mainBoard .botContainer {
        flex-direction: column-reverse;
    }

    .mainBoard .characterCredentials {
        width: 100%;
        height: 30%
    }

    .mainBoard .gameGrid {
        width: 100%;
        height: 70%;
    }

    .mainBoard .characterQuote {
        width: 100%;
        height: 100%;
        text-overflow: ellipsis;
        padding: 0 2.5rem;
    }
    
    .mainBoard .characterPic {
        display: none;
    }
    .place {
        width: calc((98.5vw * .9)/ 10);
        height: calc(100%/10);
        border: 1px solid blue;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }

    .loading {
        align-items: center;
    }

    .loadingHeadings h2:first-child {
        padding-bottom: 5.5rem;
    }

    .loading .characterGallery {
        margin-bottom: 9rem;;
    }
}

